/* .section {
    font-size: 30px;
    text-align: center;
    margin-top: 24px;
    font-weight: 700;
  }
  
  .image {
    margin-bottom: 48px;
    border-radius: 10px;
    height: 20%;
  }
  
  @media screen and (min-width: 768px) {
    .image {
      width: 67%;
      margin-bottom: 24px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .image {
      width: 50%;
      margin-bottom: 24px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .form {
      width: 67%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .form {
      width: 40%;
    }
  }
  
  .inputEmail{
  margin-bottom: 2rem;
  border-radius: 3px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  color: rgb(177, 73, 73);
  background-color: white;
  border-color: green;
  transition: ease-in-out;
  }
  
  .inputPassword{
      margin-bottom: 2rem;
      border-radius: 3px;
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 20px;
      color: rgb(177, 73, 73);
      background-color: white;
      border-color: green;
      transition: ease-in-out;
      }
  
  .container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      max-width: 72rem;
      margin-left: auto;
      margin-right: auto;
  }
  
  .account {
    display: flex;
    justify-content: space-between;
    font-size: small;
    white-space: nowrap;
  }
  
  .btn{
    width: 100%;
    background-color: green;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: blue;
  }
  
  .btn:hover{
     background-color: olive;
     transition: ease-in-out;
  }
  
  .div-1{
    padding-top: 9px;
    font-size: 20px;
    font-weight: 600;  
    margin-top: 24px;
    margin-bottom: 24px;
   
    align-items: center;
  }
  
  @media screen and (min-width: 640px) {
   .account{
    white-space: nowrap;
    font-size: 18px;
    line-height: 28px;
   }
   .login{
    font-size: 15px;
   }
  } */

  .page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("https://res.cloudinary.com/dtpgi0zck/image/upload/s--1gj6YNao--/c_fill,h_580,w_860/v1/EducationHub/photos/hoh-river-valley.jpg"); */
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section video{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover-register{
  background-color: white;
  width: 22em;
  height: 33em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 30%;
  padding-bottom: 2rem;
  opacity: 0.8;
}


.h1-register{
  margin-top: 0.5em;
  font-size: 2em;
  font-weight: 400;
}

.form{
    
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20em;
  
}
.div-form{
  padding-bottom: 2px;
}


.input{
  background-color: rgb(239, 234, 225);
  padding-bottom: 4px;
  border-radius: 5px;
  width: 20rem;
  height: 35px;
  box-sizing: border-box;border-color: green;
  border-spacing: 5px 1rem;
  border: 1px solid rgb(172, 171, 171);
  border-radius: 10px;
  padding: 1vw 1vw;
  outline: none;
  margin: 5px;
  display: block;
  margin-top: 1rem;
}

.register-btn {
  font-size: 1rem;
  width: 18rem;
  height: 2rem;
  color: white;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1em;
}
.register-btn:hover{
  background-color: rgb(7, 49, 7);
  color: white;

}

.or-para{
  font-weight: 500;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1em;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login{
  padding-top: 2rem;
  text-align: center;
  font-weight: 400;
}